/* ---------- Global Styles ---------- */

*{
    font-family: 'Nunito', sans-serif;
    text-align: center;  
    background-color: #22303c;
    color: #CADAE8;
}

img {
    max-width: 100%;
}

h1 {
    font-family: 'Handlee', sans-serif;
    font-size: 48px;
    margin-top: 20px;
    margin-bottom: -15px;
    color: #F2AA52;
}

h2 {
    font-family: 'Handlee', sans-serif;
    font-size: 32px;
    color: #F2AA52;
}

p {
    font-size: 16px;
}

/* ---------- Nav Section ---------- */

nav { 
    display: flex; 
    justify-content: space-evenly;
    margin-bottom: 8px;
    font-size: 22px;
    align-items: center;
    padding: 1px 0 0 0;
    top: 0px;
    width: 100%;
    position: fixed;
    z-index: 10000;
    background-color: #22303c;
}

nav a {
    text-decoration: none;
}

a:hover {
    color: #F2AA52;
}

#current {
    color: #8C4830;
}

/* ---------- Open Section ---------- */

.welcome-background {
    display: flex;
    height: 700px;
    background-image: url('./Images/pfp.jpg');
    opacity: 0.6;
    background-size: cover;
    background-position: center;
    align-items: center;
    background-image: no-repeat;
    background-attachment: fixed;
    margin-bottom: 60px;
}

.welcome-message { 
    text-align: center;
    opacity: 0.9;
    width: 100%;
}
/* ---------- About Section ---------- */

.about { 
    margin-top: 80px;
}

.skills-container {
    margin-top: -32px;
}

.skill-icon {
    width: 80px; 
    height: 80px;
    display: inline;
    margin: 0 8px 0 0;
}

.skill-icon-large {
    width: 60px;
    height: 62px;
    display: inline;
    margin: 0 16px 0 0;
}

/* ---------- Work Section ---------- */

.my-work {
    margin-top: 80px;
}

.portfolio-container {
    display: flex;
    justify-content: center;
}

.photo-grid {
    max-width: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.portfolio-item {
    margin-right: 22px;
    border-radius: 2px;
    width: auto;
}

.portfolio-item img {
    height: 150px;
    width: 300px;
    opacity: 1;
}

.portfolio-item h4 {
    margin-top: 10px;
}

/* ---------- Reach Out Section ---------- */

.reachout-message {
    margin-top: 96px;
}

.contact-message, 
.contact-message a { 
    font-size: 14px;
    font-family: 'Handlee', sans-serif;
    text-decoration: none;
    color: #F2AA52;
}

/* ---------- Footer Section ---------- */


footer { 
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}